@using ZKEACMS.Search
@model ZKEACMS.Search.Models.SearchResult
@{
    ViewBag.Title = Model.Query + " 全站搜索";
    Layout = Layouts.NormalDefault;
    Style.Reqiured("Search").AtHead();
}
<div class="search-header">
    <div class="container">
        <div class="row">
            <form action="@Url.Action("Search")" method="get">
                <div class="container-fluid">
                    <div class="row clearfix">
                        <div class="pull-left">
                            <a href="~/">
                                <img class="logo" src="~/images/logo_min.png" />
                            </a>
                        </div>
                        <div class="pull-left">
                            <input type="text" value="@Model.Query" class="form-control" name="q" placeholder="输入关键字进行搜索" />
                            <button class="btn btn-primary btn-search">搜 索</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>
<div class="search-result">
    @if (Model.WebPages != null && Model.WebPages.Any())
    {
        <ul class="media-list">
            @foreach (var item in Model.WebPages)
            {
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="@item.Url" target="_blank">
                                @Html.StrongKeyWord(item.Title, Model.Query)
                            </a>
                        </h4>
                        <div class="caption">
                            @if (item.MetaDescription.IsNotNullAndWhiteSpace())
                            {
                                @Html.StrongKeyWord(item.MetaDescription, Model.Query)
                            }
                            else
                            {
                                @Html.ExtractDescription(item.PageContent, Model.Query)
                            }
                            ...
                        </div>
                        <div class="caption">
                            <a href="@item.Url" target="_blank">@item.Url</a>
                        </div>
                    </div>
                </li>
            }
        </ul>
        
        Html.Pagin(Model.Pagination);
    }
</div>
